/* Reset */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*/ GRID SYSTEM */
.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

/* 12 Grid Columns */
[class^="col-"] {
    padding: 10px;
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}